  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <%= image_tag "trilha-login.jpg", class:"login-card-img" %>
          </div>
          <div class="col-md-6 ml-5">
            <div class="card-body">
              <div class="brand-wrapper">
                <%= image_tag "logo-turismo-escuro.png" %>
              </div>
              <p class="login-card-description">Esqueceu sua senha?</p>
              <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>
                  <div class="form-group">
                    <%= f.label :email, 'Email:' %>
                    <%= f.text_field :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, class:"form-control" %>
                  </div>
                <div class="form-actions">
                  <%= f.button :submit, "Send me reset password instructions", class:"btn btn-block login-btn mb-4" %>
                </div>
                <% end %>
                <%= render "devise/shared/links" %>
                <nav class="login-card-footer-nav">
                  <a href="#!">Terms of use.</a>
                  <a href="#!">Privacy policy</a>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
