       <div class="naveg">
        <div class="logo">
            <a href="/">
                <%= image_tag "logo-turismo", style: "width:110px;", class:'img-home' %>
            </a>
        </div>
        <ul>
            <li> <%= link_to "Home", root_path %> </li>
            <li> <%= link_to "Guias", guides_path %> </li>
            <% if !user_signed_in? %> 
            <li> <%= link_to "Login", new_user_session_path %> </li>
            <%else%>
            <li> <%= link_to "Sair", destroy_user_session_path %> </li>
            <% end %>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <body>
    <div class="container">
    <div class="row">
      <% Guide.all.each do |guide| %>
        <div class="col col-md-6 col-lg-4">
        <a href="/">
          <div class="card">
            <div class="card-image ">
              <%= image_tag "lula-molusco", :height => '350px', :width =>'250px', class:'img-fluid' %>
            </div>
          <div class="infos">
            <h2> <%= guide.name %>
              <br>
              <span class="city-state"> <%= guide.city %> - <%= guide.state %> </span>
            </h2>
          </div>
        </div>
      </div>
      </a>
      <% end %>
    </div>
   </body>
